body {
    background-color: white;
	font-family: 'Lato', sans-serif;
}

.mainContainer{
    width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#title{
	margin-top: 10px;
	text-align: left;
	font-size: 50px;
	font-weight: 900;
	background-color: #0082e6;
	padding: 10px;
	letter-spacing: 3px;
	color: white;
}
#title > img{
	width: 80px;
	vertical-align: middle;	
}

.leftMenu{
    float: left;
	font-size: 40px;
	background-color: #b3d9ff;
	margin-top: 2px;
	
}

.leftMenuElement{
    border-bottom: 2px solid white;
	opacity: 0.75;
	padding: 20px;
}

.leftMenuElement:hover{
    background-color: #8DB4F7;
	cursor: pointer;
	opacity: 0.9;
}

.loginElement{
    position: absolute;
	right: 1px;
	top: 10px;
    font-size: 60px;
    text-align: center;
    width: 19vw;
    height: 10vh;
    background: #0082e6;
    user-select: none;
	color: white;
}
.loginElement:hover{
	cursor: pointer;
	background-color: #8DB4F7;
}

.mainSpace{
    width: 80%;
    height: 65vh;
    border: 5px solid white;
    font-size: 3vw;
    float: left;
    background: powderblue;
    text-align: center;
}

.homeButton{
	float: left;
    width: 60px;
    height: 60px;
    background: lightskyblue;
}

.bottomDiv{
	text-align: center;
    float: left;
    width: 100%;
    height: 30px;
	font-size: 18px;
    background: black;
    margin-top: 5px;
	color: white;
	
}

#loginBox{
    position: absolute;
    left: 30vw;
    top: 20vh;
    width: 50vw;
    height: 50vh;
    background: #efefef;
    display: none;
    font-size: 2vw;
	border: 2px solid black;
	opacity: 0.9;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9); 
	box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9);
}
input[name=parentCode],input[name=userLogin],
input[name=userPassword]{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
}
input[name=parentCode]:focus,
input[name=userLogin]:focus,
input[name=userPassword]:focus{
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7); 
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7); 
	border: 2px solid blue;
	background-color: #ccccff;
	color: #000099;
}

input[type=submit]{
	width: 300px;
	background-color: #0082e6;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus{
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7); 
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}

input[type=submit]:hover{
	background-color: #6666ff;
}

.login{
	font-size: 20px;
	position: absolute;
	left: 500px;
	background-color: white;
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9); 
	box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9); 
}
.register{
	font-size: 20px;
	position: absolute;
	left: 50px;
	background-color: white;
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9); 
	box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9); 
}
.exitButton{
    width: 28px;
    height: 50px;
    font-size: 40px;
    position: relative;
    top: 10px;
    left: 875px;
    text-align: right;
	user-select: none;
}
.exitButton:hover{
	background-color: red;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7); 
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}

textarea{
    white-space: nowrap;
}

.groupOfItems{
    display: none;
}

.presentNotes{
	float: left;
	width: 100px;
	height: 100px;
}

.addNotes{
	float: left;
}

.subject{
	color: black;
	font-size: 5vw;
}

.addScene{
	color: white;
}

.noteConfig{
	position: absolute;
	font-size: 3vw;
	color: white;
	top: 10vh;
	left: 20vw;
	width: 50vw;
	height: 50vh;
	background: tomato;
}

.middleground{
	border: 2px solid #6666ff;
	border-radius: 15px;
	background-color: #e6e6ff;
	margin: 0 auto;
	width: 70%;
	height: 70%;
	display: flex;
	justify-content: space-around;
}
.offer1,.offer2,.offer3{
	border-radius: 25px;
	height: 90%;
	width: 30%;
	margin-top: 10px;
	background-color: 9999ff;
}
.lista{
	width: 80%;
	margin: auto;
}
.obraz > img{
	margin: 10%;
	height: 200px;
	width: 80%;
}
.lista input[type=submit]{
	width: 100px;
	background-color: #0082e6;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

.lista input[type=submit]:focus{
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7); 
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}