body {
    background-color: #f1f1f1;
	font-family: 'Lato', sans-serif;
}

.mainContainer{
    width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

#title{
	margin-top: 10px;
	text-align: center;
	font-size: 50px;
	font-weight: 900;
	background-color: #5A96F9;
	padding: 20px;
	letter-spacing: 3px;
}

.leftMenu{
    float: left;
	font-size: 40px;
	background-color: #5A96F9;
	margin-top: 2px;
}

.leftMenuElement{
    border-bottom: 2px solid white;
	opacity: 0.75;
	padding: 20px;
}

.leftMenuElement:hover{
    background-color: #0060FF;
	cursor: pointer;
	opacity: 0.9;
}

.loginElement{
    float: left;
    font-size: 3vw;
    text-align: center;
    width: 19vw;
    height: 10vh;
    background: plum;
    border: 5px solid white;
    user-select: none;
}

.mainSpace{
    width: 86vw;
    height: 65vh;
    border: 5px solid white;
    font-size: 3vw;
    float: left;
    background: powderblue;
    text-align: center;
}

.homeButton{
    position: absolute;
    left: 2vw;
    top: 1vh;
    width: 60px;
    height: 60px;
    background: lightskyblue;
}

.bottomDiv{
    float: left;
    width: 100%;
    height: 20vh;
    background: saddlebrown;
    border: 5px solid white;
}

#loginBox{
    position: absolute;
    left: 30vw;
    top: 20vh;
    width: 50vw;
    height: 50vh;
    background: snow;
    display: none;
    font-size: 2vw;
    
}

.exitButton{
    width: 20px;
    height: 20px;
    font-size: 2vw;
    position: relative;
    top: 0px;
    left: 600px;
    text-align: right;
}

textarea{
    white-space: nowrap;
}

.mainspace input{
    width: 86vw;
    height: 65vh;
    background: powderblue;
}

.groupOfItems{
    display: none;
}